#tooltip
  position: absolute
  width: 30%

.hide
  display: none

#vision-zero
  .current-state
    +span-columns(3)
    +shift(4)
    border: 1px solid #cecece
    padding: 1em
    +clearfix
    text-align: center
    margin-bottom: 1em
    +font-size(10)
    .number
      +font-size(50)
  .text
    +span-columns(12)
  .row
    +row()
    margin-bottom: 1em
  h2
    +font-size(20)
  .chart-two-columns
    +span-columns(6)
